@media only screen and (max-width : 800px){
  .card {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    font-size: 0.7rem;
    margin: auto;
    right: 50px;
  }
  .mic {
    font-size: 12px !important;
  }
  h3 {
    font-size: 1rem;
  }
  img {
    height: auto;
    min-width: 200px;
  }
  .btn {
    font-size: small;
  }
}